<launch>
  <arg name="simulation" default="false"/>
  <arg name="robot" default="" />
  <arg name="arm_id" default=""
       doc="prefix of the arm in case of multi-robot"/>
  <include file="$(find sot_universal_robot)/launch/sot_params.launch">
    <arg name="arm_id" value="$(arg arm_id)"/>
    <arg name="robot" value="$(arg robot)"/>
    <arg name="simulation" value="$(arg simulation)"/>
  </include>
  <!-- Spawn sot controller -->
  <node name="sot_controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="sot_controller" />
</launch>
