<launch>
  <arg name="simulation" default="false"/>
  <arg name="robot" default="" />
  <arg name="arm_id" default="panda"/>
    <!-- Load robot sot params. -->
    <group ns="sot_controller" if="$(eval robot == 'ur')">
      <rosparam param="dt" if="$(arg simulation)">
        0.01
      </rosparam>
      <rosparam param="dt" unless="$(arg simulation)">
        0.002
      </rosparam>
    </group>
    <group ns="sot_controller" if="$(eval robot == 'franka')">
      <rosparam param="dt" if="$(arg simulation)">
        0.01
      </rosparam>
      <rosparam param="dt" unless="$(arg simulation)">
        0.001
      </rosparam>
    </group>
    <!-- Sot Controller configuration -->
    <rosparam command="load"
              file="$(find sot_universal_robot)/config/sot_params_common.yaml"/>
    <rosparam command="load" if="$(eval robot == 'franka')"
              file="$(find sot_universal_robot)/config/sot_params_franka_panda.yaml"
              subst_value="true"/>
    <rosparam command="load" if="$(eval robot == 'ur')"
              file="$(find sot_universal_robot)/config/sot_params_ur.yaml"/>
</launch>
